input[type="text"]{
    padding: 0 0;
}
.breadcrumb{
    width: max-content;
    margin: 0 auto;
    padding: 1em 0 1em 0;
    text-transform: uppercase;
}
.breadcrumb span{
    opacity: 0.5;
    font-weight: 500;
}
.shopping{
    display: flex;
    padding: 2em 10em; 
}
.shopping hr{  
    margin: 0 4em;
}
.shopping img{ 
    width: -webkit-fill-available;
}
.shopping__content{
    width: 70%;
}
.shopping__text{
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 0 4em 1em 4em;
}
.shopping__text p{
    font-size: 2.7em;
    padding: .5em 0 .5em 0;
    font-family: 'Playfair Display', serif;  
    font-weight: bold;
}
.shopping__text span{
    opacity: 0.5;
    font-weight: 500;
}
.shopping__text > span:nth-child(3){
    font-weight: bold;
    font-family: 'Playfair Display', serif;
    font-size: 1.2em;
}
.shopping__text span:last-child{
    padding: 1em 0 ;
}
.shopping__control{
    display: flex;
    width: max-content;
    margin: 0 auto;
    height: 6em;
    align-items: center;  
}
.shopping__control p {
    background-color: #1d1d20;
    color: #fff;
    padding: 1em;
    margin: auto 0;
    text-transform: uppercase;
    cursor: pointer;   
}
.shopping__quantity{
    display: flex;
    margin-right: 1em;
    height:max-content;  
}
.shopping__quantity .btn__group{
    display: flex;
    flex-direction: column;
    justify-content: space-between;   
}
.shopping__quantity .btn__group button:first-child{
    margin-bottom: .2em;
}
.shopping__quantity .btn__group button{    
    width: 1.9em;
    height: 1.9em;
    border: none;
    background-color: #dadada;
    cursor: pointer;  
}
.shopping__quantity input{
    width: 1.2em;
    padding: 1.2em;
    background-color: #eeeeee;
    border: none;
    margin-right: .2em;   
}
.shopping__control .add {
    border: none;
    padding: 1.4em 2em;
    cursor: pointer;
    color: #fff;
    background-color: #1d1d20;
    text-transform: uppercase;
    letter-spacing: 1px;
}
@media screen and (max-width:451px){
    .breadcrumb p {
        font-size: small;
    }
    .shopping{
        flex-direction: column;
        padding: .5em;
    }
    .shopping hr{
        margin: 0;
    }
    .shopping img{
        padding: 2em 0;
    }
    .shopping__content{
        width: unset;
    }
    .shopping__text{
        padding: 2em .5em 1em .5em;
    }
    .shopping__text p {
        font-size: 1.5em;
        font-weight: 700;
    }
    .shopping__text span:last-child{
        font-size: x-small;
    }
}
