input[type="text"]{
    padding: 0 0;
}

.breadcrumb{
    width: max-content;
    margin: 0 auto;
    padding: 1em 0 1em 0;
}
hr{
    border: .5px solid #dadada;
    background-color: #dadada;
}
.shopping hr{
    
    margin: 0 6em 0 6em;
}
.shopping{
    
    display: flex;
    padding: 2em 15em 2em 15em; 
    

}

.shopping img{
    width: 100%;
}

.shopping_text{
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 0 6em 1em 6em;
}
.shopping_text p{
    font-size: 2em;
    padding: .5em 0 .5em 0;
    
}
.shopping_text span{
    opacity: 0.5;

}
.shopping_text span:last-child{
    padding: .5em 0 .5em 0;
}
.shopping_control{
    display: flex;
    width: max-content;
    margin: 0 auto;
    height: 5em;
    
}
.shopping_control p {
    background-color: #1d1d20;
    color: #fff;
    padding: 1em;
    margin: auto 0;
    text-transform: uppercase;
    cursor: pointer;
    
}
.shopping_quantity{
    display: flex;
    align-items: center;
    height:max-content;
    margin: auto 1em;
    
}
.shopping_quantity .btn_group{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height:100%;
    
}
.shopping_quantity .btn_group button:first-child{
    margin-bottom: .3em;
}
.shopping_quantity .btn_group button{
    
    width: 1.5em;
    margin: auto;
    border: none;
    background-color: #dadada;
    cursor: pointer;
}
.shopping_quantity input{
    width: 4em;
    height: 4em;
    background-color: #eeeeee;
    border: none;
    margin-right: .2em;
    
}
