.bg {
  background-color: #f6f6f6;
}
hr {
  border: 0.5px solid #dadada;
  background-color: #dadada;
}
h1 {
  width: max-content;
  margin: 0 auto;
  padding: 2em 0 2em 0;
  font-weight: 300;
  font-size: 3em;
}
article {
  display: flex;
  padding: 2em 0 3em 0;
}
span {
  opacity: 0.5;
  text-transform: uppercase;
  font-size: small;
  font-weight: 500;
}
.exit {
  right: 9px;
}
.exit span {
  top: 30px;
  width: 35px;
}
.shopping__cart {
  background-color: white;
  width: max-content;
  margin: 0 auto;
  padding: 5em 3em 1em 3em;
}
.shopping__cart article {
  border-bottom: 2px solid #dadada;
  position: relative;
}
.category {
  display: flex;
  justify-content: space-between;
  padding: 0 0 1em 0;
  align-items: baseline;
}
.category__other span:nth-child(2) {
  padding: 0 4em;
}
/*---------------------------------ARTICLE PRODUCT--------------------------------------*/
.product {
  display: flex;
  width: -webkit-fill-available;
}
.product img {
  width: 20%;
  padding: 0 1em 0 0;
  object-fit: cover;
}
.product__text p:last-child {
  text-transform: uppercase;
  font-size: small;
  padding: 1em 0 0 0;
  font-weight: 300;
}
.product__text p {
  text-transform: uppercase;
  font-weight: 500;
}
.shopping__control {
  display: flex;
  width: max-content;
  margin-right: 20px;
}
.shopping__control p {
  background-color: #1d1d20;
  color: #fff;
  padding: 1em;
  margin: auto 0;
  text-transform: uppercase;
  cursor: pointer;
}
/*--------------------------------Content product---------------------------------------------*/
.shopping__quantity {
  display: flex;
  align-items: center;
  height: max-content;
}
.shopping__quantity .btn__group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}
.shopping__quantity .btn__group button:first-child {
  margin-bottom: 0.3em;
}
.shopping__quantity .btn__group button {
  width: 1.5em;
  margin: auto;
  border: none;
  background-color: #dadada;
  cursor: pointer;
}
.shopping__quantity input {
  width: 3em;
  height: 3em;
  background-color: #eeeeee;
  border: none;
  margin-right: 0.2em;
}
.product__price {
  padding: 0 0 0 2em;
}
.shopping__control--mobile,
.product__price--mobile {
  display: flex;
}
.product__price--mobile {
  margin-right: 95px;
}
/*------------------------------------------Resume price cart-------------------------------------*/
.shopping__resume--position {
  display: flex;
  justify-content: flex-end;
  padding: 1em 0 1em 0;
}
.shopping__resume {
  justify-content: space-between;
}
.shopping__total,
.shopping__subtotal {
  display: flex;
}
.shopping__total span:first-child,
.shopping__subtotal span:first-child {
  padding: 0 20em 0 0;
}
.shopping__subtotal {
  padding: 1em 0 1em 0;
}
/*-----------------------------Button checkout and continue shopping------------------------*/
.shopping__checkout {
  display: flex;
  justify-content: space-between;
  padding: 2em 0 0 0;
}
.shopping__checkout a {
  text-transform: uppercase;
  text-decoration: none;
  border-bottom: 2px solid #1d1d20;
  height: max-content;
  color: #1d1d20;
}
.shopping__checkout button {
  border: none;
  color: #fff;
  background-color: #1d1d20;
  text-transform: uppercase;
  padding: 1.5em;
  cursor: pointer;
}
/*----------------------------------Responsive---------------------------------*/
@media screen and (max-width: 451px) {
  hr:first-of-type {
    display: none;
  }
  h1 {
    padding: 0.5em 0;
    font-size: 2em;
  }
  .category {
    display: none;
  }
  /*--------------------------------Content product---------------------------------------------*/
  .shopping__cart {
    width: 80%;
    padding: 0 1em;
  }
  .shopping__cart article {
    display: flex;
    flex-direction: column;
  }
  .product img {
    width: 30%;
  }
  .product__text p {
    font-size: 11px;
  }
  .shopping__control--mobile {
    padding: 2em 0 0 0;
    justify-content: space-between;
    align-items: center;
  }
  .product__price--mobile {
    margin-right: 35px;
    
    
  }
  .product__price{
    font-size: 20px;
  }
  .exit {
    padding: 0 0 0 1em;
    top: unset;
    bottom: 60px;
  }
  .exit span{
    width: 25px;
  }
  /*------------------------------------------Resume price cart-------------------------------------*/
  .shopping__resume--position {
    justify-content: center;
  }
  .shopping__resume {
    width: 100%;
  }
  .shopping__total,
  .shopping__subtotal {
    justify-content: space-between;
  }
  .shopping__total span:first-child,
  .shopping__subtotal span:first-child {
    padding: 0 0 0 0;
  }
  /*-----------------------------Button checkout and continue shopping------------------------*/
  .shopping__checkout {
    flex-direction: column;
    text-align: center;
  }
  .shopping__checkout a {
    margin: 0 0 1em 0;
    font-weight: 500;
  }
  .shopping__checkout button {
    width: max-content;
    margin: 0 auto;
  }
}
